body {
  font-family: sans-serif;
  margin: 0.5em 0;
}
ul#chores {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
ul#chores > li {
  list-style: none;
  border: 1px solid rgb(var(--color));
  background: rgba(var(--color), 0.1);
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
ul#chores > li.due {
  color: red;
}
ul#chores > li.hide {
  display: none;
}

#tags > ul {
  padding: 0 0.5em;
}
#tags > ul > li {
  border: 1px solid black;
  border-radius: 1em;
  display: inline-block;
  padding: 0.25em 0.25em;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
#tags > ul > li.active {
  background: grey;
}
#tags > ul > li.excluded {
  border: 1px dashed grey;
  color: grey;
}

#tags > ul > li.due {
  color: red;
  border-color: red;
}
#tags > ul > li.due.excluded {
  color: #ff3f3f;
  border-color: #ff3f3f;
}

.content > .title {
  font-weight: bold;
}
.content > .last-dates {
  font-style: italic;
}
.actions {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.actions > button {
  border: none;
  background: none;
  cursor: pointer;
}
body > button {
  border: none;
  background: none;
  padding: 0.5em;
  cursor: pointer;
}

@media (min-width: 50em) {
  ul#chores {
    padding-right: 0em;
  }
  ul#chores > li {
    width: calc(100% / 2 - 0.5em);
    margin-right: 0.5em;
  }
}
@media (min-width: 80em) {
  ul#chores > li {
    width: calc(100% / 3 - 0.5em);
  }
}
@media (min-width: 110em) {
  ul#chores > li {
    width: calc(100% / 4 - 0.5em);
  }
}
@media (min-width: 140em) {
  ul#chores > li {
    width: calc(100% / 5 - 0.5em);
  }
}
@media (min-width: 170em) {
  ul#chores > li {
    width: calc(100% / 6 - 0.5em);
  }
}
form {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: 1px solid black;
  background: white;
  overflow: auto;
  border-radius: 1em;
  padding: 1em;
}
